<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>

  <div class="sidebar">
  <% if (user) { %>
    <img id="sidebar-avatar" src="<%= user.profile.avatar %>"/>

    
    <label id="logo">
      <i class="fas fa-solid fa-duotone fa-2x fa-paw"></i>
      <span class="nav-item">PawMily Album</span>
    </label>
    

    <label for="new-post">
      <a href="/posts/new">
        <i class="fa-solid fa-file-pen"></i>
        <span class="nav-item">New Post</span>
      </a>
    </label>
    

    <label for="my-album">
      <a href="/profiles/<%= user.profile._id %>">
        <i class="fas fa-dog"></i>
        <span class="nav-item">My Album</span>
      </a>
    </label>
    
    <label for="dropdown">
      <a class="dropdown" href="/posts/">
        <i class="fas fa-solid fa-square-caret-down"></i>
        <span class="nav-item"> Explore All Posts</span>
      </a>
        
      <div name="stage" id="stage">
        <a href="/posts?type=puppy"><button class="nav-btn">Puppy Posts</button></a>
        <a href="/posts?type=adult"><button class="nav-btn">Adult Posts</button></a>
        <a href="/posts?type=sage"><button class="nav-btn">Sage Posts</button></a>
      </div>
    </label>
    

    
      <label for="logout">
      <a href="/auth/logout" class="right">
        <button class="nav-btn" type="logout-btn">Logout</button>
      </a>
    </label>
      
  <% } else { %>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
      data-prompt_parent_id="g_id_onload"
    ></div>
    <div 
      class="g_id_signin right"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
  <% } %>
  </div>
