  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <div class="navbar">
    <% if (user) { %>
      <div class="sidebar">
        <div class="top">
          <div class="logo">
            <i class="fas fa-solid fa-duotone fa-paw"></i>
            <span>PawMily Album</span>
          </div>
          <i class="fas fa-solid fa-compass" id="menu-btn"></i>
        </div>
        <div class="user">
          <a href="/auth/logout" class="right">
            <i class="fas fa-solid fa-circle-user"></i>
          </a>
          <ul>
            <il>
              <a href="#">
                <i class="fas fa-solid fa-grip"></i>
                <span class="nav-item">Dashboard</span>
              </a>
              <span class="tooltip">Dashboard</span>
            </il>
            <il>
              <a href="#">
                <i class="fas fa-solid fa-house"></i>
                <span class="nav-item">My Posts</span>
              </a>
              <span class="tooltip">My Posts</span>
            </il>
            <il>
              <a class="drop-down content" href="#">
                <i class="fas fa-solid fa-brands fa-wpexplorer"></i>
                  <a href="#"><option>Puppy</option></a>
                  <a href="#"><option>Adult</option></a>
                  <a href="#"><option>Senior</option></a>
                <span class="nav-item">Explore Posts</span>
              </a>
              <span class="tooltip">Explore Posts</span>
            </il>
            <il>
              <a href="#">
                <i class="fas fa-solid fa-file-pen"></i>
                <span class="nav-item">New Post</span>
              </a>
              <span class="tooltip">New Post</span>
            </il>
          </ul>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </div>