.scroller {
  height: calc(100vh - 25px); 
  overflow-y: auto;

  scrollbar-color: rgba(23, 123, 114, 0.245) #d6eadf;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; 
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 700px; 
  padding: 2rem; 
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 255, 0.312);
  background: hsla(213, 77%, 14%, 1);
  background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(223, 168, 19, 0.548);
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 32px;
  width: 100%;
}

h4 {
  font-weight: bold;
  color:rgba(223, 169, 19, 0.959);
  margin-left: 10px;
  font-size: 1.2rem;;
  margin: 10px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.show-h1 {
  font-weight: bold;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #7b8508, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px #2920202b;
  font-size: 2rem;
}

.nice-to-see-you {
  margin-bottom: 50px;
  font-size: 1.5rem;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #7b8508, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#post-photo {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 5px; 
  margin-bottom: 1rem;
  box-shadow: 0 15px 50px rgba(228, 206, 8, 0.204);
}

.post-description {
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: 10px 20px;
  border-top: .5mm solid rgba(217, 203, 203, 0.225);
  border-bottom: .5mm solid rgba(217, 203, 203, 0.225);
  background-color: rgba(28, 90, 144, 0.281);
}

.comments {
  flex-grow: 1;
  border: none;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  border-top: .5mm solid rgba(217, 203, 203, 0.225);
  border-bottom: .5mm solid rgba(217, 203, 203, 0.225);
  background-color: rgba(105, 155, 48, 0.281);
}

.comments::-webkit-scrollbar {
  display: none;
  opacity: 0;
  width: 0;
}

.comment {
  font-family: poppins;
  font-size: 12px;
  margin: 15px 0;
  display: flex; 
  align-items: center; 
}

.comment-image {
  width: 50px;
  height: 50px; /* Adjust height as needed */
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 15px 50px rgba(228, 206, 8, 0.204);
  text-shadow: 1px 1px 2px #2920202b;
}

#no-posts {
font-size: 1rem;
}