@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
#sidebar-avatar {
  border-radius: 10%;
  width: 70px;
  height: auto;
  box-shadow: 0 15px 50px rgba(228, 206, 8, 0.613);
  margin-left: 10px;
  margin-top: 5px;
}
.log-in-message {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-right: 800px;
    margin-bottom: 2000px;
    color:rgba(0, 0, 255, 0.45)
  }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 255, 0.312);
  background: hsla(213, 77%, 14%, 1);

  background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
} 

h1 {
  text-align: center;
  letter-spacing: 0.15rem;
  text-shadow: -4px 1px #0e0d0d,;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 2rem;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #7b8508, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px #2920202b;

}
.circle-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  float: left;
  shape-outside: circle;
  margin: 60px 30px 30px 0;
}
p {
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
}
h3 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 2rem;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(233, 3, 3, 0.1);
  background-color: #0e1428;
  -moz-box-shadow:    -3px 0 5px 0 #f7f1f1;
  -webkit-box-shadow: -3px 0 5px 0 #555;
  box-shadow:         -3px 0 5px 0 #555;
}
.sidebar:hover {
  width: 280px;
  transition: all 0.5s ease;
}
.sidebar:hover #logo span {
  display: block;
}
.right {
  margin-left: auto;
}
#logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}
#logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  display: none;
}
span {
  text-transform: uppercase;
}
a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 1rem;
  display: table;
  width: 300px;
  padding: 10px
}
.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 1.5rem;
  text-align: center;
}
.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #7b8508, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px #2920202b;
  text-shadow: -4px 1px #0e0d0d,;
}
.nav-btn {
  position: relative;
  top: 12px;
  margin-left: 10px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #7b8508, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px #2920202b;
  text-shadow: -4px 1px #0e0d0d,;
  font-weight: bold;
  padding-left: 15px;
  font-size: 1rem;
  text-transform: uppercase;
}
a:hover {
  background: rgba(0, 0, 255, 0.149);
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #d6eadf;
  color: #f6f6f6;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
} 
.container {
  display: flex;
  justify-content: space-between;
}

