.scroller {
  height: calc(100vh - 20vh); 
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-color: rgba(23, 123, 114, 0.245) #d6eadf;
}

.main-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  transition: all 0.5s ease;
  width: 100%;
} 

.index-h1 {
  margin-bottom: 5%;
  text-align: center;
  letter-spacing: 0.15rem;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}

.index-posts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 255, 0.1); 
  transition: transform 0.3s ease-in-out; 
}

index-posts-container:hover {
  transform: scale(1.02); 
}

.index-post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;  
  max-width: 600px;  
  padding: 30px;
  margin-bottom: 50px;
  box-sizing: border-box;
  border: 2px solid rgba(238, 238, 238, 0.5); 
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 255, 0.1);
  background: linear-gradient(to right, #F8CF6A, #2178DD); 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}


.index-post-card:hover {
  transform: scale(1.01); 
  box-shadow: 0 5px 20px rgba(0, 0, 255, 0.3); 
}


.author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30vw;
}

.index-post-card img {
  border-radius: 8px; 
}

#index-avatar {
  border-radius: 10%;
  width: 60px;
  height: auto;
  box-shadow: 0 15px 50px rgba(228, 206, 8, 0.204);
}

h4 {
  color:rgba(234, 244, 243, 0.874);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  text-shadow: 1px 1px 3px #2920202b;
  font-size: 1.2rem;
}

#index-photo {
  width: 100%;  
  max-width: 40%;  
  height: auto;
  border-radius: 8px;
  text-shadow: none;  
  box-shadow: 0 15px 5
}

div.button-container > a > button {
  background: hsla(242, 58%, 73%, 1);
  background: linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9491E2", endColorstr="#AFF2D8", GradientType=1 );
  width: 90px;
  height: 30px;
  border-radius: 8px;
  box-shadow: inset 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
  margin-left: 400px;
}

button:hover {
  transform: scale(0.5);
  transition: transform 2s ease-in-out .5s;
  -webkit-box-reflect: below 1px 
    linear-gradient(to bottom, rgba(0,0,0,0.0), 
    rgba(0,0,0,0.5));
}

.button-container {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.details-button {
  background-color: rgba(15, 153, 151, 0.642);
  margin-right: 370px;
  margin-top: 40px;
}