body {
  font-family: 'Arial', sans-serif; 
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.scroller {
  height: calc(100vh - 100px);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-color: rgba(23, 123, 114, 0.245) #d6eadf;
}

.list-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.index-h1 {
  text-align: center;
  letter-spacing: 0.15rem;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #7b8508, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px #2920202b;
}

.index-posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.index-post-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #F8CF6A, #2178DD);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.index-post-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#index-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h4 {
  color: #091e47;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

#index-photo {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
}

.index-post-card:hover #index-photo {
  transform: scale(1.1);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.details-button {
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(to right, #9491E2, #AFF2D8);
  color: #0f0e0e;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.details-button:hover {
  transform: scale(1.05);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}
