/* Global styles */
body {
  font-family: 'Arial', sans-serif; /* Change to a more common professional font */
  background-color: #f0f0f0; /* Light gray background */
  margin: 0;
  padding: 0;
}

/* Container for scrolling and layout */
.scroller {
  height: calc(100vh - 100px); /* Adjusted to fit the screen better */
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-color: rgba(23, 123, 114, 0.245) #d6eadf; /* Adjusted scrollbar color */
}

/* Main content container */
.list-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* Title heading */
.index-h1 {
  text-align: center;
  letter-spacing: 0.15rem;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #7b8508, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px #2920202b;
}

/* Container for posts */
.index-posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

/* Individual post card */
.index-post-card {
  width: 100%; /* Ensure all cards have the same width */
  max-width: 400px; /* Limit maximum width of cards */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #F8CF6A, #2178DD);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden; /* Ensures content doesn't overflow */
}

.index-post-card:hover {
  transform: scale(1.02); /* Slight zoom on hover */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}

/* Author section */
.author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#index-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h4 {
  color: #091e47; /* Dark blue color */
  font-size: 1rem; /* Adjusted font size */
  font-weight: bold;
  margin: 0;
}

/* Post image */
#index-photo {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
}

.index-post-card:hover #index-photo {
  transform: scale(1.1); /* Enlarge image on hover */
}

/* Button container */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.details-button {
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(to right, #9491E2, #AFF2D8); /* Gradient button background */
  color: #0f0e0e; /* Text color */
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.details-button:hover {
  transform: scale(1.05); /* Zoom effect on hover */
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5); /* Inset shadow on hover */
}
