.form-container {
  border-radius: 10px;
  padding: 20px; 
  margin: 0 auto; 
  max-width: 100%; 
  text-shadow: 1px 1px 2px #292020b6;
  font-size: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
  background: rgba(8, 33, 63, 0.5);
  background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
}

.form-container label,
.form-container input[type="text"],
.form-container input[type="datetime-local"],
.form-container textarea,
.form-container select {
  width: 100%; 
  margin-bottom: 15px; 
}

input[type="text"],
input[type="datetime-local"],
textarea {
  border: 1px solid rgba(0, 0, 0, 0.2); 
  border-radius: 4px; 
}

textarea {
  resize: vertical; 
}

select {
  border: 1px solid rgba(0, 0, 0, 0.2); 
  border-radius: 4px; 
}

.publish-btn {
  background-color: #2196f3; 
  color: white; 
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px; 
  cursor: pointer; 
  transition: all 0.2s ease-in-out; 
}

.publish-btn:hover {
  background-color: #1775c1; 
}

.form-title {
  text-align: center;
  letter-spacing: 0.15rem;
  margin-top: 150px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #7b8508, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px #2920202b;
}