.scroller {
  height: 95vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-color: rgba(23, 123, 114, 0.245) #d6eadf;
}

.post-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 255, 0.312);
  background: hsla(213, 77%, 14%, 1);
  background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
}

.post-card {
  border: 1px solid rgba(223, 168, 19, 0.548);
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30vw;
  margin-top: 0px;
}
#show-avatar {
  border-radius: 10%;
  width: 70px;
  height: auto;
  box-shadow: 0 15px 50px rgba(228, 206, 8, 0.204);
  margin-left: 150px;
  margin-top: 5px;
}
h4 {
  color:rgba(223, 168, 19, 0.548);
  margin-left: 10px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;

}
#post-photo {
  width: 500px;
  height: auto;
  border-radius: 8px;
  text-shadow: 2px 2px;
  box-shadow: 0 15px 50px rgba(228, 206, 8, 0.204);
}
h6 {
  margin-right: 20vw;
  color:rgba(251, 255, 0, 0.641);
  margin-top: 5px;
  margin-bottom: 5px;

}
.post-description {
  flex-grow: 1;
  border-top: .5mm solid rgba(217, 203, 203, 0.225);
  border-bottom: .5mm solid rgba(217, 203, 203, 0.225);
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgba(28, 90, 144, 0.281);
}
textarea, ::placeholder {
  width: 500px;
  background-color: rgb(152, 172, 186);
  color: #140436;
}
.post-stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 0;
  cursor: default ;
}

.button-container {
  display: flex;
  justify-content:flex-end;
  margin-left: 16vw;
}

.comment-button {
  margin-left: 21vw;
  margin-bottom: 15px;
}

.no-comment {
  margin-right: 21vw;
}
/* Ben's CSS below */

img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-right: 8px;
}

button {
background: hsla(242, 58%, 73%, 1);
background: linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9491E2", endColorstr="#AFF2D8", GradientType=1 );
width: 90px;
height: 30px;
border-radius: 8px;
box-shadow: inset 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
}
button:hover {
  transform: scale(0.5);
  transition: transform 2s ease-in-out .5s;
  -webkit-box-reflect: below 1px 
    linear-gradient(to bottom, rgba(0,0,0,0.0), 
    rgba(0,0,0,0.5));
}
#delete-comment {
  width: 40px;
  height: 20px;
  margin-left: 23vw;
  font-weight: bold;
  background-color: aliceblue;
  margin-top: 5px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto;  */
}

.details-button {
  background-color: orange;
  margin-left: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments {
  flex-grow: 1;
  border-top: .5mm solid rgba(217, 203, 203, 0.225);
  border-bottom: .5mm solid rgba(217, 203, 203, 0.225);
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgba(28, 90, 144, 0.281);
}
.comments::-webkit-scrollbar {
  display: none;
  opacity: 0;
  width: 0;
}
.comment {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  font-family: poppins;
  font-size: 12px;
  margin: 15px 0;

}
.comment-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}