<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/posts/new.css">
<script defer src="/javascripts/javascript.js"></script>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div class="form-container">
    <form action="/posts" method="POST">
      <label for="stage-input">Age: 
        <select name="stage" id="stage-type">
          <option value="Puppy">Puppy</option>
          <option value="Adult">Adult</option>
          <option value="Senior">Senior</option>
        </select>
        <br><br>
        <label for="photo-input">Photo: </label>
        <input type="text" name="photo" placeholder="Photo URL">
        <br><br>
        <div class="description-input">
          <label for="description-input">Description: </label>
          <textarea placeholder="Please tell us more!" name="description" cols="30" rows="10"></textarea>
        </div>
        <br><br>
        <label for="date-input">Date:</label>
        <input type="datetime-local" name="date" id="date-input">
        <input type="datetime-local" id="hidden-date" name="currentLocalDateTime" hidden>
        <br><br>
        <button type="submit">Add Post</button>
      </form>
    </div>
</main>

<%- include('../partials/footer') %>
