<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/posts/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/posts" method="POST"></form>
    <label for="title-input">Title:</label>
    <input type="text" name="description">
</main>

<%- include('../partials/footer') %>
