<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/new.css">
<script defer src="/javascripts/javascript.js"></script>
<%- include('../partials/nav') %>

<h1 class="form-title"><%= title %></h1>

<main>
  <div class="form-container">
    <form action="/posts" method="POST">
      <div class="stage-input">
        <label for="stage-input">Photo Life Stage</label> 
      <br>
      <select name="stage" id="stage-input">
        <option value="Puppy">Puppy</option>
        <option value="Adult">Adult</option>
        <option value="Sage">Sage</option>
      </select>
      </div>
      <br>
      <div class="photo-input">
        <label for="photo-input">Photo </label>
        <br>
        <input type="text" id="photo-input" name="photo" placeholder="Photo URL">
      </div>
      <div class="description-input">
        <label for="description-input">Post Story </label>
        <br>
        <textarea id="description-input" placeholder="Please tell us more!" name="description" cols="50" rows="10"></textarea>
      </div>
      <div class="date-input">
        <label for="date-input">Date</label>
        <br>
        <input id="date-input" type="datetime-local" name="date" id="date-input">
        <input type="datetime-local" id="hidden-date" name="currentLocalDateTime" hidden>
      </div>
      <br>
      <div class="publish-btn">
        <button class="publish-btn" type="submit">Publish Post 🖋</button>
      </div>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>